<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    {{!-- <section class="home_i">
        <div class="home_i_h">
            <svg id="fig1" fill="blue" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" xml:space="preserve">
                <path class="cls-1"
                    d="M67.3,0a67.3,67.3,0,1,0,67.3,67.31h0A67.3,67.3,0,0,0,67.3,0Zm0,128.61a61.3,61.3,0,1,1,61.3-61.3A61.29,61.29,0,0,1,67.3,128.61Z">
                </path>
                <path
                    d="M67.3,39.12A28.19,28.19,0,1,0,95.49,67.31,28.19,28.19,0,0,0,67.3,39.12Zm0,50.38A22.19,22.19,0,1,1,89.49,67.31,22.18,22.18,0,0,1,67.3,89.5Z">
                </path>
            </svg>
            <canvas width="840" height="975" style="background:  0% 0% / contain transparent;"></canvas>
        </div>
    </section> --}}
    <section>
        <!-- this SVG is only to show the background line -->
        <svg viewBox="0 0 300 300">
            <path d="M 0 0 Q 150 500 300 0" fill="none" stroke="lightgrey" />
        </svg>
        <div class="dot"></div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/pathseg@1.2.0/pathseg.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/path-data-polyfill@1.0.3/path-data-polyfill.min.js"></script>
    <script src="js/main.js">
    </script>
</body>

</html>